h1{
    color: var(--color-primary);
}

.admin-button {
  
  background-color: var(--color-primary);
  text-decoration: none;
}

.admin-button:hover {
  color: var(--color-success);
  background-color: var(--color-accent);
}

.admin-button-trash{
    background-color: var(--color-danger);
    text-decoration: none;
    border-style: none;
}

.admin-button-trash:hover {
   background-color: rgb(119, 21, 21);
    text-decoration: none;
}

.admin-button-edit{
    background-color: var(--color-primary);
    text-decoration: none;
    border-style: none;
}

.admin-button-edit:hover {
   background-color: rgb(93, 30, 93);
    text-decoration: none;
}

.admin-control-buscar{
    border: 1px solid var(--color-primary);
    text-decoration: none;
}

.admin-control-buscar:hover {
   
    box-shadow: var(--color-success);
}
.admin-control-buscar:focus {
    
    box-shadow:  0 0 0 0.1rem var(--color-success);
}

/* Encabezado */
.admin-table thead tr th {
  background-color: #4b2f70;
  color: #fff;
}

/* Filas impares */
.admin-table tbody tr:nth-child(odd) td {
  background-color: #2e1a47;
  color: #fff;
}

/* Filas pares */
.admin-table tbody tr:nth-child(even) td {
  background-color: #3c2461;
  color: #fff;
}

/* Hover */
.admin-table tbody tr:hover td {
  
  color: var(--color-primary);
}


