/* fondo de la card */
.fondo-detalle {
  background-color: var(--color-surface);
}

/* texto */
.texto-detalle {
  color: var(--color-primary);
}

.texto {
  color: var(--color-success) !important;
}
