:root {
  --color-primary: #8b5cf6; /* Violeta principal (medio brillante) */
  --color-secondary: #a78bfa; /* Lila claro */
  --color-bg: #0a0a0f; /* Fondo oscuro (casi negro, con tinte azulado) */
  --color-surface: #1e1b29; /* Paneles/cards (violeta muy oscuro) */
  --color-text: #f3f4f6; /* Texto principal (blanco grisáceo) */
  --color-muted: #9ca3af; /* Texto secundario (gris) */
  --color-accent: #e879f9; /* Magenta brillante para botones/hover */
  --color-success: #34d399; /* Verde éxito */
  --color-danger: #f43f5e; /* Rojo error */
}

/*----------ESTO ES PARA BAJAR EL FOOTEER------------*/
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  background-color: var(--color-bg);
}
/*----------------------------------------------------*/



/* para hover de las cards */

.cardHover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  background-color: transparent;
 transition: background-color 0.3s ease;
}

.cardHover:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  z-index: 2;
  background-color: rgba(0, 123, 255, 0.1);

