:root {
  --color-primary: #8b5cf6; /* Violeta principal (medio brillante) */
  --color-secondary: #a78bfa; /* Lila claro */
  --color-bg: #0a0a0f; /* Fondo oscuro (casi negro, con tinte azulado) */
  --color-surface: #1e1b29; /* Paneles/cards (violeta muy oscuro) */
  --color-text: #f3f4f6; /* Texto principal (blanco grisáceo) */
  --color-muted: #9ca3af; /* Texto secundario (gris) */
  --color-accent: #e879f9; /* Magenta brillante para botones/hover */
  --color-success: #34d399; /* Verde éxito */
  --color-danger: #f43f5e; /* Rojo error */
}

* {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

/*----------ESTO ES PARA BAJAR EL FOOTEER------------*/
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
/*----------------------------------------------------*/

/* para hover de las cards */

.cardHover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.cardHover:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  z-index: 2;
  background-color: rgba(0, 123, 255, 0.1);
}

/*----------ESTO ES ESTILO DE BOTONES------------*/

.btn-gradient {
  background: radial-gradient(
    circle,
    var(--color-accent) 50%,
    var(--color-primary) 100%
  );
  color: var(--color-surface);

  border: 2px solid var(--color-primary);
  margin-top: 1rem;
  font-weight: bold;
  padding: 0.6rem 1.4rem;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-gradient:hover {
  background: radial-gradient(
    circle,
    var(--color-primary) 50%,
    var(--color-success) 100%
  );
  color: var(--color-text);
  border: 2px solid var(--color-success);
  box-shadow: 0px 4px 10px var(--color-success);
  transform: scale(1.05);
}

.btn-gradient:focus {
  border-color: var(--color-success) !important;
}

.btn-sesion {
  background-color: #8a5cf61b;
  border-color: var(--color-primary);
  transition: all 0.3s ease;
}

.btn-sesion:hover {
  background-color: #8a5cf61b;
  color: var(--color-success);
  border-color: var(--color-success);
  box-shadow: 0px 2px 12px #34d399;
  transition: all 0.3s ease;
}

.btn-sesion:focus {
  background-color: #8a5cf61b !important;
}

/*----------------------------------------------------*/
