.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-muted); 
  z-index: 10;
}
.login-input {
  padding-left: 40px !important; 
}