.navbar-custom {
  background-color: var(--color-surface);
}

.navbar-brand-custom {
  color: var(--color-primary) !important;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 35px;
  height: 35px;
  margin-right: 8px;
}

.nav-link-custom {
  color: var(--color-text) !important;
}

.fuenteLogo {
  font-family: "Sometype Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* ----------- PAGE ACTIVE ------------ */
.nav-link-custom {
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link-custom::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: var(--color-secondary);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.nav-link-custom:hover {
  color: var(--color-secondary);
}

.nav-link-custom:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.nav-link-custom.active {
  color: var(--color-secondary);
}

.nav-link-custom.active::after {
  transform: scaleX(1);
}
