/*------------------Cards Nosotros-------------------*/
.cardNosotros {
  border-color: var(--color-secondary);
  color: var(--color-accent);
  text-align: center;
  box-shadow: 1px 1px 2px var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgCardNosotros {
  width: 80px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-color: var(--color-accent);
}

.cardNosotros:hover {
  transform: scale(1.2);
  transition: 600ms;
  box-shadow: 3px 3px 20px var(--color-primary);
}

.fuenteCardNosotros{
  font-size: medium;
}

.AlgoRitmo {
  color: var(--color-primary);
}

.AlgoRitmo:hover {
  color: var(--color-success);
}

.iconoCard:hover{
  font-size:x-large;
    color: var(--color-success);
      transition: 600ms;

}