/*------------------Cards Nosotros-------------------*/
.cardNosotros {
  border-color: var(--color-secondary);
  color: var(--color-accent);
  text-align: center;
  box-shadow: 1px 1px 2px var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgCardNosotros {
  width: 80px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-color: var(--color-accent);
}

.cardNosotros:hover {
  transform: scale(1.2);
  transition: 600ms;
  box-shadow: 3px 3px 20px var(--color-primary);
}

.fuenteCardNosotros{
  font-size: medium;
}

.AlgoRitmo {
  color: var(--color-primary);
}

.AlgoRitmo:hover {
  color: var(--color-success);
}

.iconoCard:hover{
  font-size:x-large;
    color: var(--color-success);
      transition: 600ms;

}

.btn-gradient {
  background: linear-gradient(45deg, var(--color-success), #e879f9, #a78bfa);
  color: #1e1b29;
  border: 2px solid #a78bfa;
  font-weight: bold;
  padding: 0.6rem 1.4rem;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-gradient:hover {
  background: linear-gradient(deg, #8b5cf6, #e879f9, #34d399);
  color: #f3f4f6;
  border: 2px solid #a78bfa;
  box-shadow: 0 4px 15px #a78bfa;
  transform: scale(1.05);
}